/* Make clicking links a bit bigger on mobile. */
.passage > a {
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}
.passage > img.icon {
  width: 30px;
  height: auto;
  vertical-align: middle;
}
.passage > img.icon + a {
  margin-left: -30px;
  padding-left: 30px;
}

/* Minimap */
.passage > svg[viewBox="0 0 260 130"] {
  width: min(100%, 400px) !important;
  height: auto !important;
  image-rendering: pixelated;
}

/* Fix inconsistent history buttons */
#ui-bar-history [id|="history"],
#ui-bar-toggle {
  font-size: 1.2rem;
}

/* Slightly improve the Journal */
[data-overlay="journal"] ul li {
  margin: 0.5em 0;
}
[data-overlay="journal"] .journal-date {
  color: gold;
}
