/* Make clicking links a bit bigger on mobile. */
@media (max-width: 500px) {
  .passage > a {
    display: inline-block;
    padding-top: 0.5em;
  }
  
  .passage > img.icon {
    width: 30px;
    height: auto;
    vertical-align: middle;
  }
  
  .passage > img.icon + a {
    margin-left: -30px;
    padding-left: 30px;
    vertical-align: top;
  }
}

/* Minimap */
.passage > svg[viewBox="0 0 260 130"] {
  width: min(100%, 400px) !important;
  height: auto !important;
}

/* Fix inconsistent history buttons */
#ui-bar-history [id|="history"], #ui-bar-toggle {
  font-size: 1.2rem;
}
